.backdrop {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
    pointer-events: none;
}

.backdrop__image {
	position: absolute;
	height: 100vh;
	width: 100%;
	z-index: -2;
	background-size: cover;
}

.backdrop__opacity-layer {
	position: absolute;
	height: 100vh;
	width: 100%;
	z-index: -1;
    background-color: black;
    opacity: .35;
}

.backdrop__image--night {
	background-image: url("../assets/desktop/night.jpg");
}
.backdrop__image--day {
	background-image: url("../assets/desktop/morning.jpg");
}
