.clock {
    color: #FFF;
    display: flex;
    width: 630px;
    justify-content: space-between;
}

.clock__time {
    letter-spacing: -10px;
    font-size: 200px;
    font-weight: 700;
    line-height: 146px;
}

.clock__time-zone {
    align-self: end;
    font-size: 40px;
    line-height: 30px;
}

