.dashboard {
    gap: 30px;
	display: grid;
	grid-template-columns: 5fr 3fr;
	height: 50vh;
	padding-top: 75px;
	padding-left: 80px;
    backdrop-filter: blur(10px);
}

.dashboard--night {
	background-color: hsla(0, 0%, 0%, 0.45);
	color: #fff;
}
.dashboard--day {
    color: #303030;
	background-color: rgba(255, 255, 255, 0.6);
}

.dashboard h3 {
    font-size: 56px;
    font-weight: 700;
    margin-top: 4px;
}
