@import "./reset.css";
@import "./fonts.css";

#root {
	height: 100vh;
	font-family: "Inter", sans-serif;
}

.app {
	height: 100vh;
    overflow: hidden;
}

.widgets {
    height: 100vh;
    padding: 80px;
}