@import "./reset.css";
@import "./fonts.css";

#root {
	height: 100vh;
	padding: 110px 80px 60px ;
	background-color: #303030;
	font-family: "Inter", sans-serif;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
