.quote {
	display: flex;
}

.quote__text {
	color: #fff;
	font-size: 18px;
	line-height: 28px;

	width: 500px;
	margin-right: 30px;
}

.quote__author {
	font-weight: 700;
    margin-top: 28px;
}

.quote__author span {
    font-weight: 400;
    margin-right: 10px;
}

.quote__refresh-icon {
	margin-top: 6px;
    cursor: pointer;
}
